<div class="container-fluid">
    <div class="panel-body">
    	<div class="container">
    		<br>
    		<div class="row">
    			<div class="col d-flex justify-content-center">
    				<h3>Bienvenidos</h3>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col d-flex justify-content-center">
    				<h4>Sistema para la asignación de actividades</h4>
    			</div>
    		</div>
    		<br>
    		<div class="row text-center">
    			<div class="col">
    				<img style="width: 300px; height: 200px;" class="img-fluid rounded" src="assets/img/actividades.jpg">
    			</div>
    			<div class="col">
    				<img style="width: 300px; height: 200px;" class="img-fluid rounded" src="assets/img/actividades3.jpg">
    			</div>
    		</div>
    		<br>
    		<div class="row">
    			<div class="col text-center">
    				<img style="width: 300px; height: 200px;" class="img-fluid rounded" src="assets/img/actividades4.jpg">
    			</div>
    		</div>
    	</div> 
    </div>
  </div>