<div class="card card-body">
    <mat-grid-list cols="2" rowHeight="1:0.2">
        <mat-grid-tile>
            <span class="text-primary">Actividades subidas el día de hoy: {{total}}</span>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="col-lg-6 col-md-6 col-sm-6">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="table table-sm table-striped " >
        <!-- Id Column -->
        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> N° </th>
            <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
            </ng-container>
            <!-- Nombres Column -->
            <ng-container matColumnDef="actividad">
            <th mat-header-cell *matHeaderCellDef> Actividad </th>
            <td mat-cell *matCellDef="let tarea"> 
                {{tarea.n9cono}} 
            </td>
            </ng-container>
            <!-- Nombres Column -->
            <ng-container matColumnDef="cuenta">
                <th mat-header-cell *matHeaderCellDef> Cuenta </th>
                <td mat-cell *matCellDef="let tarea"> 
                    {{tarea.n9cocu}} 
                </td>
            </ng-container>
            <!-- Nombres Column -->
            <ng-container matColumnDef="sector">
                <th mat-header-cell *matHeaderCellDef> Sector </th>
                <td mat-cell *matCellDef="let tarea"> 
                    {{tarea.n9cose}} 
                </td>
            </ng-container>
            <!-- Nombres Column -->
            <ng-container matColumnDef="ruta">
                <th mat-header-cell *matHeaderCellDef> Ruta </th>
                <td mat-cell *matCellDef="let tarea"> 
                    {{tarea.n9coru}} 
                </td>
            </ng-container>
            <!-- Nombres Column -->
            <ng-container matColumnDef="medidor">
                <th mat-header-cell *matHeaderCellDef> Medidor </th>
                <td mat-cell *matCellDef="let tarea"> 
                    {{tarea.n9meco}} 
                </td>
            </ng-container>
            <!-- Nombres Column -->
            <ng-container matColumnDef="usuario">
                <th mat-header-cell *matHeaderCellDef> Usuario </th>
                <td mat-cell *matCellDef="let tarea"> 
                    <div style="width: 200px;">
                        {{tarea.n9nomb}} 
                    </div> 
                </td>
            </ng-container>
            <!-- Nombres Column -->
            <ng-container matColumnDef="referencia">
                <th mat-header-cell *matHeaderCellDef> Referencia </th>
                <td mat-cell *matCellDef="let tarea"> 
                <div style="width: 300px;">
                    {{tarea.n9refe}}
                </div>
                </td>
            </ng-container>
            <!-- Nombres Column -->
            <ng-container matColumnDef="fechasubida">
                <th mat-header-cell *matHeaderCellDef> Fecha de subida </th>
                <td mat-cell *matCellDef="let tarea"> 
                    <div style="width: 200px;">
                        {{tarea.created_at}} 
                    </div> 
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>

